.note{
    background-color: white;
    border-radius: 10px;
    text-align: left;
    height: 85vh;
    width: 57vw;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vh;
    margin: 2vh;
    margin-left: 3vw;
    overflow-y: hidden;
    white-space: pre-wrap;
}


.content-field{
    font-family: inherit;
    display: flex;
    resize: none;
    width: 48vw;
    height: 90vh;
    font-size: 1rem;
    border: none;
}

.name-field{
    font-weight: bold;
    font-family: inherit;
    resize: none;
    width: 48vw;
    height: 3rem;
    font-size: 2rem;
    margin-bottom: 2vh;
    border: none;
}