.note{
    background-color: white;
    border-radius: 10px;
    text-align: left;
    height: 90vh;
    width: 58vw;
    padding-left: 7vw;
    padding-right: 7vw;
    padding-top: 5vh;
    margin: 2vh;
    margin-left: 3vw;
    overflow-y: auto;
}